.loginPage {
  background: url("../../assets/images/system-background.jpg");
  background-color: linear-gradient(
    rgba(11, 11, 11, 0.5) rgba(10, 10, 10, 0.5),
    url("../../assets/images/system-background.jpg")
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
  object-fit: cover;
}

.loginForm {
  background-color: rgba(1, 32, 93, 0.5);
  color: white;
}

ul li :hover {
  background-color: gray;
}

.menu-background {
  background-color: #244855;
}

.main-container {
  background-color: #fbe9d0;
}

.header {
  background-color: #90aead;
}

.add-button {
  background-color: #e64833;
  color: white;
}

.add-officials-container {
  height: 94.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.officials-second-container {
  width: 40%;
}

.official-image {
  max-width: 80px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.officials-container {
  padding: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
  font-size: 17px;
}

.table th {
  background-color: #dad4d4; /* Set background color for header cells */
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.table-header-text {
  width: 80%;
  text-align: center;
}

.table-header-input input {
  padding: 5px;
  width: 300px;
}

.add-resident-container {
  height: 94.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resident-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.two-input {
  display: flex;
  justify-content: space-between;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.residents-record {
  height: 94.5%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.residents-data {
  background-color: white;
}

.view-resident-container {
  height: 94.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 70px;
  padding-left: 50px;
  padding-right: 50px;
}

.information-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.information-container p {
  font-size: 20px;
}

.household-record-container {
  height: 94.5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

.household-header {
  text-align: center;
}

.household-members-container {
  height: 94.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-left: 250px;
  padding-right: 250px;
}

.household-members-information-container {
  display: flex;
  width: 50%;
}

.household-members-information-container p {
  font-size: 20px;
  margin-left: 30%;
}

.household-members-details-container {
  width: 50%;
}

.anchor-tag {
  text-decoration: none;
  font-weight: bold;
}

.home-container {
  height: 94.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.total-population,
.total-male,
.total-female,
.total-household {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logoTotal {
  margin-bottom: 10px;
  display: flex;
  gap: 150px;
  font-size: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logoTotalText {
  text-align: center;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.settings-container {
  height: 94.5%;
  display: flex;
  padding: 30px;
  gap: 50px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  height: 50%;
  color: #3f3f3f;
}

.icon-container i {
  font-size: 60px;
}

.adjust {
  margin-top: -10px;
}

.change-settings-container {
  height: 94.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.change-settings-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.change-settings-button {
  margin-top: 30px;
}

.create-account-container {
  height: 94.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-account-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
